@media screen and (max-width:700px){  /*Condição diferenciada < 700px*/
    header .container{
    display:flex;
    flex-direction: column;
}

header .logo img{
    max-width: 30vw;
}

.botoes .botao_a{
    font-size: 3vw;
    padding: 2.2vw 4vw;
    margin-right: 5px;
}

.botoes .botao_b{
    font-size: 3vw;
    padding: 2.2vw 4vw;
    margin-right: 5px;
}

.filme-principal{
    height: 50vh;
}

.filme-principal .container{
    width: 80%;  
}

.filme-principal .titulo{
    margin-top: -35%;
}
}